.p {
  margin-top: 1.5rem;
}

.a {
  word-break: break-all;
  text-underline-position: under;
  text-decoration-thickness: from-font;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  --tw-text-opacity: 1;
  color: hsl(var(--nextra-primary-hue) 100% 45% / var(--tw-text-opacity));
  border-radius: 0.25rem;
  outline-offset: 2px;
  outline: 2px solid transparent;
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
  text-decoration-line: inherit;
  text-decoration-thickness: inherit;
  line-height: 1.75rem;
  color: hsl(var(--nextra-primary-hue) 100% 45% / var(--tw-text-opacity));
  text-decoration: underline;
}
